<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451354106296-511u7tngjpvs9aemqb01savc6kmagbed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451354106296-511u7tngjpvs9aemqb01savc6kmagbed</string>
	<key>API_KEY</key>
	<string>AIzaSyBFsF7X0rQkG6UOwLziekpgeKWfL714JvM</string>
	<key>GCM_SENDER_ID</key>
	<string>451354106296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dateNavigation</string>
	<key>PROJECT_ID</key>
	<string>date-navigation</string>
	<key>STORAGE_BUCKET</key>
	<string>date-navigation.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451354106296:ios:e082379f3ffda418ac174d</string>
</dict>
</plist>